<!DOCTYPE html>
<html lang="en">
  <LINK REL="SHORTCUT ICON"
        HREF="http://www.cesm.ucar.edu/styles/modern/img/favicon.png">
  <head>
    <meta charset="utf-8">
    <title>CESM2 Timing and Perfomance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <!-- css -->
    <!--#include virtual="/styles/modern/css/css-include.html" -->
    
    <!-- Theme skin -->
    <link href="/styles/modern/skins/default.css" rel="stylesheet" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="/media/css/ie.css" />
    <![endif]-->
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />

    <style type="text/css">
        #details { background-color: #c5edcb; }
    </style>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

    
  </head>
  <body>
    <div id="wrapper">
      <header>
	
        <div class="navbar navbar-default navbar-static-top">
          <div class="container">
            
            <!-- navbar header -->
            <!--#include virtual="/styles/modern/includes/header/navbar-header.html" -->
            <!-- end navbar header -->
            
            <!-- search -->
            <!--#include virtual="/styles/modern/includes/header/search.html" -->
            <!-- end search -->
            
            <!-- main navigation -->
            <!--#include virtual="/styles/modern/includes/navigation/models-nav.html" -->
            <!-- end main navigation -->
            
          </div>
        </div>
      </header>
      <!-- end header -->
      
      <section id="inner-headline">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="breadcrumb">
		<li><a href="/index.html"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                <li><a href="/models/">CESM Models</a><i class="icon-angle-right"></i></li>
                <li><a href="/models/cesm2.0">CESM2 Series Public Release</a><i class="icon-angle-right"></i></li>
		<li class="active">CESM2 Timing and Performance</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </section>

      <section id="content">
	<div class="container">
	  <div class="row">
	    <div class="post-image">
	      <div class="post-heading">
		<h2>CESM2 Timing, Performance and Load Balancing Data</h2>
	      </div>
	    </div>
	    <p>
	      <ul>
		<li>This information is constantly subject to change due to changes
		  in the model or machine hardware and software.</li>
		<li>Clicking on the compset name takes you to the raw timing output file.</li>
		<li>The timing table results correspond to tag names in the raw timing file
		  that may not be officially released. The timing information is valid but the tag should not 
		  necessarily be used for scientific simulations.
		  Please refer to the <a href="http://www.cesm.ucar.edu">CESM website</a>
		  for a complete list of supported CESM versions.</li>
		<li>Please contribute to this timing table by posting a raw
		  CESM timing file and information about your hardware (including a web
		  link if possible) to the <a href="http://bb.cgd.ucar.edu">DiscussCESM Forums</a>. </li> 
		<li>Please post questions regarding optimal PE layout for supported machines to the 
		  <a href="http://bb.cgd.ucar.edu">DiscussCESM Forums</a>.</li>
	      </ul>
	    </p>


	    <hr/>
	    
            <button id="btn-show-all-children" type="button">Expand All</button>
            <button id="btn-hide-all-children" type="button">Collapse All</button>
            <hr/>
            <table id="timingTable" class="display nowrap">
	      <thead>
		<tr>
		  <th>Machine</th>
		  <th>Resolution</th>
		  <th>Compset</th>
		  <th>Total PEs</th>
		  <th>Cost pe-hrs/yr</th>
		  <th>ThruPut yrs/day</th>
		  <th>I/O</th>
		  <th>Version Date</th>
		  <th class="none">Comments:</th>
		  <th class="none">PE Layouts</th>
		</tr>
	      </thead>
	      <tbody>
		<!-- dynamically generated output should go here -->
		<tr>
		  <td>cheyenne</td>
		  <td>f09_g17</td>
		  <td><a href=./timing2.0/timing_files/cesm_timing.timing_test_B1850_f09_g17_2160.180226-182709> B1850 </a> </td>
		  <td>2160</td>
		  <td>2881.68</td>
		  <td>17.99</td>
		  <td>Off</td>
		  <td>2018.02.26</td>
		  <td>Intel compiler</td>
		  <td>
		    <table>
		      <thead>
			<tr id="details">
			  <th></th>
			  <th>cpl</th>
			  <th>lnd</th>
			  <th>rof</th>
			  <th>ice</th>
			  <th>atm</th>
			  <th>glc</th>
			  <th>ocn</th>
			</tr>
		      </thead>
		      <tbody>
			<tr id="details">
			  <th>Total PEs</th>
			  <td>1800</td>
			  <td>1440</td>
			  <td>1440</td>
			  <td>288</td>
			  <td>1800</td>
			  <td>1800</td>
			  <td>360</td>
			</tr>
			<tr id="details">
			  <th>tasks x threads</th>
			  <td>1800x1</td>
			  <td>1440x1</td>
			  <td>1440x1</td>
			  <td>288x1</td>
			  <td>1800x1</td>
			  <td>1800x1</td>
			  <td>360x1</td>
			</tr>
			<tr id="details">
			  <th>root_pe</th>
			  <td>0</td>
			  <td>0</td>
			  <td>0</td>
			  <td>1440</td>
			  <td>0</td>
			  <td>0</td>
			  <td>1800</td>
			</tr>
			<!-- I/O data row would go here -->
		      </tbody>
		    </table>
		  </td>
		</tr>

		<tr>
		  <td>hobart</td>
		  <td>f09_g17</td>
		  <td><a href=timing_files/cesm_timing.PFS.f09_g17.B1850.hobart_intel.allactive-default.20170622_105935_i88gkt.170622-113245.32NODES> B1850 </a> </td>
		  <td>1536</td>
		  <td>9581.03</td>
		  <td>3.85</td>
		  <td>Off</td>
		  <td>2017.06.22</td>
		  <td>Intel compiler</td>
		  <td>
		    <table>
		      <thead>
			<tr id="details">
			  <th></th>
			  <th>cpl</th>
			  <th>lnd</th>
			  <th>rof</th>
			  <th>ice</th>
			  <th>atm</th>
			  <th>glc</th>
			  <th>ocn</th>
			</tr>
		      </thead>
		      <tbody>
			<tr id="details">
			  <th>Total PEs</th>
			  <td>1344</td>
			  <td>816</td>
			  <td>816</td>
			  <td>432</td>
			  <td>1344</td>
			  <td>1344</td>
			  <td>192</td>
			</tr>
			<tr id="details">
			  <th>tasks x threads</th>
			  <td>1344x1</td>
			  <td>816x1</td>
			  <td>816x1</td>
			  <td>432x1</td>
			  <td>1344x1</td>
			  <td>1344x1</td>
			  <td>192x1</td>
			</tr>
			<tr id="details">
			  <th>root_pe</th>
			  <td>0</td>
			  <td>0</td>
			  <td>0</td>
			  <td>816</td>
			  <td>0</td>
			  <td>0</td>
			  <td>1344</td>
			</tr>
			<!-- I/O data row would go here -->
		      </tbody>
		    </table>
		  </td>
		</tr>
		
	      </tbody>
              <tfoot>
		<tr>
		  <th>Machine</th>
		  <th>Resolution</th>
		  <th>Compset</th>
		  <th>Total PEs</th>
		  <th>Cost pe-hrs/yr</th>
		  <th>ThruPut yrs/day</th>
		  <th>I/O</th>
		  <th>Version Date</th>
		  <th class="none">Comments:</th>
		  <th class="none">PE Layouts</th>
		</tr>
	      </tfoot>
	    </table>

	    <p>
	      <h3>Machine hardware details</h3>
	      <ul>
		<li><a href="http://www2.cisl.ucar.edu">cheyenne</a> - SGI ICE XA cluster<br/>
		  4,032 dual-socket nodes<br/> 
		  18-core, 2.3-GHz Intel Xeon E5-2697v4 processors<br/>
		  145,152 "Broadwell" cores total, 5.34 PFLOPs peak - 1.325 TFLOPs per node<br/> 
		  313 TB total memory (3,164 64-GB and 864 128-GB nodes)<br/>
		</li>
		<br/>
		<li>hobart - NCAR CGD Linux cluster<br/>
		  Operating System: CentOS Linux release 7.2.1511 (Core)  x86_64<br/>
		  Kernel: 3.10.0-327.el7.x86_64<br/>
		  Processor(s): 48 X Intel(R) Xeon(R) CPU E5-2670 v3 @ 2.30GHz<br/>
		  CPU MHz: 2300.000<br/>
		  Total Memory: 98.59 GB<br/>
		  Total Swap: 1.04 GB<br/>
		  Fabric: QLogic Infiniband, QDR with PSM
		</li>
	      </ul>
	    </p>

	  </div>
	</div>
      </section>

      <footer>
	<div class="container">
          <!-- footer -->
          <!--#include virtual="/styles/modern/includes/footer/footer.html" -->
          <!-- end footer -->
	</div>
        <div id="sub-footer">
          <!-- navbar subfooter -->
          <!--#include virtual="/styles/modern/includes/footer/subfooter.html" -->
          <!-- end subfooter -->
        </div>
        <div class="col-lg-6">
          <!-- Social Media Include -->
          <!--#include virtual="/styles/modern/includes/footer/social-media-inc.html" -->
          <!-- end Social Media Include -->
        </div>
      </footer>

    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script>
    $(document).ready( function () {
	var table = $('#timingTable').DataTable( {
	    "responsive": true,
	    "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]	    
	} );

	// Handle click on "Expand All" button
	$('#btn-show-all-children').on('click', function(){
	    // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
	});
	
	// Handle click on "Collapse All" button
	$('#btn-hide-all-children').on('click', function(){
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
	});
    } );
    </script>
    <script>
      // Check if the nsf badge is there
      if ( !($(".nsf-header")[0]) ) {
	// create the nsf badge div
	var div = '<div class="nsf-header"> <a href="http://www.nsf.gov/"> <img src="/styles/modern/includes/header/ncar_header_nsf_only.png"title="Sponsored by NSF"alt="Sponsored by NSF"> </a> </div>';

	// insert it
	$('.search-container').after(div);
      }
    </script>
  </body>
</html>
