<!DOCTYPE html>
<html lang="en">
<head>
    <title>CESM2 Timing Login</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <!-- css -->
    <!--#include virtual="/styles/modern/css/css-include.html" -->
    [% INSERT '/home/www/html/styles/um/css/css-include.html' %]


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="/styles/um/js/html5shiv.js"></script>
    <![endif]-->


    <style type="text/css">
        .body-signin {
            height: 100vh;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 0px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            text-align: center;
        }
    </style>
</head>

<body class="body-signin">
    <form class="form-signin" method="POST">
        <img class="mb-5 form-signin-logo" src="https://www.cgd.ucar.edu/Images/logos/logo-ncar-600.png" alt="NCAR Logo">
        <p class="my-0 text-cesm mb-4 text-center font-weight-bold">Enter your credentials below</p>
        
        <label class="mt-3 h5">Login Type</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input login-type-radio" type="radio" name="loginType" id="loginTypeSVN" value="SVN">
            <label class="form-check-label" for="loginTypeSVN">SVN</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input login-type-radio" type="radio" name="loginType" id="loginTypeCIT" value="CIT">
            <label class="form-check-label" for="loginTypeCIT">CIT</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input login-type-radio" type="radio" name="loginType" id="loginTypeOTHER" value="OTHER">
            <label class="form-check-label" for="loginTypeOTHER">Other</label>
        </div>

        [% IF error %]
        <div class="alert alert-danger center" role="alert">
            [% error %]
        </div>
        [% END %]

        <div class="form-group-standard">
            <label for="f-username" class="sr-only">username</label>
            <input name="username" type="text" id="f-username" class="form-control" placeholder="username" autofocus>

            <label for="f-password" class="sr-only">password</label>
            <input name="password" type="password" id="f-password" class="form-control" placeholder="password">
        </div>

        <div class="form-group-anon hide-me">
            <label for="f-firstName" class="sr-only">first name</label>
            <input name="firstName" type="text" id="f-firstName" class="form-control" placeholder="First Name">

            <label for="f-lastName" class="sr-only">last name</label>
            <input name="lastName" type="text" id="f-lastName" class="form-control" placeholder="Last Name">

            <label for="f-email" class="sr-only">email</label>
            <input name="email" type="text" id="f-email" class="form-control" placeholder="email">
        </div>

        <input type="hidden" name="action" value="login">
        <input type="submit" name="submit" class="btn btn-lg btn-block btn-primary mt-4 mb-5" value="Log In">

        <a href="https://csegweb.cgd.ucar.edu/svnuser/cgi-bin/repo_access_form.cgi">Need a CESM SVN developers login?</a> 
        <br>
        <a href="http://www.cgd.ucar.edu/systems/documentation/faqs/computing/subversion_info2.html">Forgot your SVN login or password?</a>
    </form>

    <!-- javascript -->
    [% INSERT '/home/www/html/styles/um/js/js-include.html' %]

    <script>
        // jquery to update the page if user selects the other login type
        $(".login-type-radio").on('click', function(){
            // set the id
            var id = $(this).attr('id');

            // check the id
            if ( id === "loginTypeOTHER" ) {
                // issa other so show that form
                $(".form-group-standard").fadeOut("fast", function() {
                    // fade in the anon form
                    $(".form-group-anon").fadeIn("fast");
                });
            }
            // not the other so make sure the standard for is visible
            else {
                // check the visible status
                if (!$(".form-group-standard").is(':visible')) {
                    // not visible so make it
                    $(".form-group-anon").fadeOut("fast", function() {
                        // fade in the anon form
                        $(".form-group-standard").fadeIn("fast");
                    });
                }
            }
        });
    </script>
</body>
</html>
